body
{
    background-color: var(--OffBlack);
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;

}
.contenedor
{
    background-color: var(--DarkGrey);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 320px;
    height: 560px;
    border-radius: 10px;  
    align-content:flex-start;
    justify-content:space-between;
}
.texto
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin: 0px 10px 0px 10px;
    width: 90%;
    height: 40%;
    padding: 15px 0px 13px 0px;
}
.botones
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    height: 60%;
    width: 100%;
    padding: 0px 0px 10px 0px;
}
img
{
    border-radius: 50%;
    height: 80px;
    margin:40px 0px 20px 0px;
}
button
{
    background-color: var(--Grey);
    border: none;
    width: 85%;
    border-radius: 7px;
    color: var(--White);  
    padding: 13px 0px 13px 0px;
    font-weight: 700;
}
h2
{
    font-weight: 600;
    color: var(--White);
    line-height: 0px;
}
h3
{
    
    font-weight: 400;
    font-size: 14px;
    color: var(--Green);
    line-height: 0px;
}
p
{
    font-size: 14px;
    color: var(--White);
    line-height: 40px;
}
:root
{
        --White: hsl(0, 0%, 100%);
        --Grey: hsl(0, 0%, 20%);
        --DarkGrey: hsl(0, 0%, 12%);
        --OffBlack: hsl(0, 0%, 8%);
        --Green: hsl(75, 94%, 57%);
}
button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: pointer;
}
